#
# COPYRIGHT Ericsson 2024
#
#
#
# The copyright to the computer program(s) herein is the property of
#
# Ericsson Inc. The programs may be used and/or copied only with written
#
# permission from Ericsson Inc. or in accordance with the terms and
#
# conditions stipulated in the agreement/contract under which the
#
# program(s) have been supplied.
#

documents:
 #  Please list if any other files need to be upload.
 #  document name
  - name: "API Documentation"
    filepath: ./src/main/resources/v1/index.html
  - name: "Application Developers Guide"
    filepath: build/doc/html/application-developers-guide/Application_Developers_Guide.html
  - name: "Service User Guide"
    filepath: build/doc/html/service-users-guide.zip
  - name: "Risk Assessment & Privacy Impact Assessment Report"
    external-link: "https://eridoc.internal.ericsson.com/eridoc/?docbase=eridoca&locateId=0b004cffcacd9cff"
    restricted: true
  - name: "Vulnerability Analysis Report"
    external-link: "https://eridoc.internal.ericsson.com/eridoc/?docbase=eridoca&locateId=0b004cffcacd9cff"
    restricted: true
