model_version: 2.0
product_va_config:
    name: PM Stats Query Service
    product_name: eric-oss-pm-stats-query-service
    version: {version}
    spoc:  ESZAZSE (Szabolcs Zsengeller, PO), ETSALOI (István Albert Oláh, Kodiak Security Master)
    va_template_version: 2.0.0
    description: Query Service is a stateless microservice based on the Spring Boot Chassis. This service exposes data from a PostgreSQL database via OData (V4) queries
    images:
        - /eric-oss-pm-stats-query-service:{version}
